# Castor:
/castor/ @patlo-iog @yshyn-iohk

# Connect:
/connect/ @bvoiturier @FabioPinheiro @mineme0110

# Pollux:
/pollux/ @patlo-iog @CryptoKnightIOG @mineme0110

# Cloud Agent:
/cloud-agent/ @bvoiturier @yshyn-iohk @patlo-iog

# CI pipelines:
/.github/ @mineme0110 @patlo-iog

# PRISM Node:
/prism-node/ @shotexa

# Shared:
/shared/ @patlo-iog @FabioPinheiro @mineme0110 @yshyn-iohk @bvoiturier @shotexa @CryptoKnightIOG

# E2E tests:
/tests/ @todorkoleviohk @amagyar-iohk @yshyn-iohk @patlo-iog @mineme0110

# Docs:
/docs/ @bvoiturier @yshyn-iohk
*.md @petevielhaber
