# Castor:
/castor/ @patlo-iog @yshyn-iohk

# Mercury:
/mercury/ @FabioPinheiro @mineme0110

# Connect:
/connect/ @FabioPinheiro @mineme0110

# Pollux:
/pollux/ @patlo-iog @CryptoKnightIOG @mineme0110

# PRISM Agent:
/prism-agent/ @bvoiturier @yshyn-iohk

# CI pipelines:
/.github/ @antonbaliasnikov

# PRISM Node:
/prism-node/ @shotexa

# Shared:
/shared/ @patlo-iog @FabioPinheiro @mineme0110 @yshyn-iohk

# E2E tests:
/tests/ @antonbaliasnikov

# Docs:
/docs/ @antonbaliasnikov @davidpoltorak-io @yshyn-iohk @BS-IO 

# Everything else will be reviewed by someone from the Atala group
* @input-output-hk/atala
