# Apollo maintainers (Jesus Diaz Vico, Shota Jolbordi):
/apollo/ @jesusdiazvico @shotexa

# Castor maintainers (Ilya Peresadin, Fabio Pinheiro):
/castor/ @pva701 @FabioPinheiro

# Mercury maintainers (Fabio Pinheiro, Shailesh Patil):
/mercury/ @FabioPinheiro @mineme0110

# Pluto maintainers (Ilya Peresadin, Yurii Shynbuiev):
/pluto/ @pva701 @yshyn-iohk

# Pollux maintainers (Shota Jolbordi, Yurii Shynbuiev):
/pollux/ @shotexa @yshyn-iohk

# Github maintainer (Anton Baliasnikov):
/.github/ @antonbaliasnikov

# Everything else will be reviewed by someone from the Atala group
* @input-output-hk/atala
