.idea
report
megalinter-reports/
.vscode
.bloop
.bsp
.jvmopts
.metals
sbt-launch.jar
**/project/metals.sbt
target
**/.DS_Store
shell.nix
.envrc
node_modules/
package-lock.json
.dotty-ide-disabled
**/.docker-volumes/*
target/
**.env.*
workspace.json
docs/architecture/structurizr/.structurizr/
cloud-agent/client/typescript
cloud-agent/client/kotlin/src/main/kotlin/
!cloud-agent/client/kotlin/src/main/kotlin/org/hyperledger/identus/client/models/CredentialSubject.kt
!cloud-agent/client/kotlin/src/main/kotlin/org/hyperledger/identus/client/models/Service.kt
!cloud-agent/client/kotlin/src/main/kotlin/org/hyperledger/identus/client/models/UpdateManagedDIDServiceAction.kt
