.idea
report
megalinter-reports/
.vscode
.bloop
.bsp
.metals
**/project/metals.sbt
target
**/.DS_Store
shell.nix
.envrc
node_modules/
package-lock.json
.dotty-ide-disabled
**/.docker-volumes/*
target/
**.env.*
project