apiVersion: "acid.zalan.do/v1"
kind: postgresql
metadata:
  name: "{{ .Values.database.postgres.managingTeam }}-{{ .Chart.Name }}-postgres-cluster"
  namespace: {{ .Release.Namespace }}
  labels:
    {{ template "labels.common" . }}
spec:
  teamId: "{{ .Values.database.postgres.managingTeam }}"
  volume:
    size: "{{ .Values.database.postgres.databaseSize }}"
  numberOfInstances: {{ .Values.database.postgres.numberOfInstances }}
  nodeAffinity:
    {{- toYaml .Values.affinity.nodeAffinity | nindent 4 }}
  tolerations:
    {{- toYaml .Values.tolerations | nindent 4 }}
  resources:
    {{- toYaml .Values.database.postgres.resources | nindent 4 }}
  users:
    pollux-admin:
      - superuser
      - createdb
    pollux-application-user:
      - login
    connect-admin:
      - superuser
      - createdb
    connect-application-user:
      - login
    agent-admin:
      - superuser
      - createdb
    agent-application-user:
      - login
  databases:
    pollux: pollux-admin
    connect: connect-admin
    agent: agent-admin
  postgresql:
    version: "14"

{{- if .Values.keycloak.enabled }}
---

apiVersion: "acid.zalan.do/v1"
kind: postgresql
metadata:
  name: "{{ .Values.database.postgres.managingTeam }}-keycloak-postgres-cluster"
  namespace: {{ .Release.Namespace }}
  labels:
    {{ template "labels.common" . }}
spec:
  teamId: "{{ .Values.database.postgres.managingTeam }}"
  volume:
    size: "{{ .Values.database.postgres.databaseSize }}"
  numberOfInstances: {{ .Values.database.postgres.numberOfInstances }}
  users:
    keycloak-admin:
      - superuser
      - createdb
    keycloak-user: []
  databases:
    keycloak: keycloak-admin
  postgresql:
    version: "14"

{{- end }}
