---
openapi: 3.0.0
info:
  title: Mediator API
  description: Mediator Api.
  version: 0.1.0
servers:
  - url: http://atala-prism.io/v1
    description: Mediator API
  - url: http://localhost:8080
    description: for local testing
paths:
  /invitations:
    post:
      tags:
        - invitation
      summary: Create a new out of band invitation
      operationId: CreateInvitation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    goal-code:
                      $ref: "#/components/schemas/GoalCode"
      responses:
        "201":
          description: Invitation created
          content:
            application/json:
              schema:
                required:
                  - invitation
                properties:
                  invitation:
                    $ref: "#/components/schemas/Invitation"

  /invitations/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
    delete:
      tags:
        - invitation
      summary: Delete a out-of-band invitation
      operationId: DeleteInvitation
      responses:
        "200":
          description: Invitation deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResponse"
    get:
      tags:
        - invitation
      summary: Get out-of-band invitation
      operationId: GetInvitation
      responses:
        "200":
          description: Invitation deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invitation"
  /connections:
    post:
      tags:
        - connection
      summary: Create a new connection
      operationId: CreateConnection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    goal-code:
                      $ref: "#/components/schemas/GoalCode"
      responses:
        "201":
          description: connection created
          content:
            application/json:
              schema:
                required:
                  - connection
                properties:
                  invitation:
                    $ref: "#/components/schemas/CreateConnection"

  /connections/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
    delete:
      tags:
        - connection
      summary: Delete the connection
      operationId: DeleteConnection
      responses:
        "200":
          description: connection deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResponse"
    get:
      tags:
        - connection
      summary: Get connection details
      operationId: GetConnection
      responses:
        "200":
          description: get a connection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Connection"
    patch:
      tags:
        - connection
      summary: update connection single field
      operationId: UpdateConnection
      responses:
        "200":
          description: update the connection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Connection"

  /messages:
    post:
      tags:
        - mediator
      summary: send a message
      operationId: SendMessage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  $ref: "#/components/schemas/ConnectionId"
      responses:
        "201":
          description: Messages retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        default:
          description: other_status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorBody"

  /messages/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
    get:
      tags:
        - mediator
      summary: Get messages for given connection.
      operationId: GetMessage
      responses:
        "200":
          description: Send Message Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendMessageResponse"
        default:
          description: other_status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorBody"
    delete:
      tags:
        - mediator
      summary: delete a message.
      operationId: delete message
      responses:
        "200":
          description: Unregister the mediator for this Connection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteMessageResponse"
        default:
          description: other_status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorBody"

components:
  schemas:
    Invitation:
      title: Out of Band Invitation
      type: object
      example:
        {
          "id": "f3375429-b116-4224-b55f-563d7ef461f1",
          "type": "https://didcomm.org/out-of-band/2.0/invitation",
          "from": "did:prism:testnet:EiCRKRZKozDBAlxpZ0UI2UylXW6AmwSdQfguo0VGeyVKKg",
          "body":
            { "goal-code": "create-connection", "accept": ["didcomm/v2"] },
        }
    CreateConnection:
      title: Create Connection
      type: object
      example:
        {
          "id": "f3375429-b116-4224-b55f-563d7ef461f1",
          "type": "https://didcomm.org/connections/2.0/create-connection",
          "from": "did:prism:testnet:EiCRKRZKozDBAlxpZ0UI2UylXW6AmwSdQfguo0VGeyVKKg",
          "body": {},
        }
    Connection:
      title: Connection
      type: object
      example:
        {
          "id": "f3375429-b116-4224-b55f-563d7ef461f1",
          "type": "https://didcomm.org/connections/2.0/create-connection",
          "from": "did:prism:testnet:EiCRKRZKozDBAlxpZ0UI2UylXW6AmwSdQfguo0VGeyVKKg",
          "body": {},
        }
    GoalCode:
      title: DIDCommV2 Out of Band Invitation Goal Code
      type: string
      example: create-connection
    ConnectionId:
      title: Connection Id
      example: "8fb9ea21-d094-4506-86b6-c7c1627d753a"
      type: string
    MessageResponse:
      type: object
      title: List message pending messages.
      properties:
        message_count:
          description: Count of messages dispatched.
          type: integer
          format: int64
          example: 10
        messages:
          description: messages dispatched.
          type: array
          items:
            type: string
          example:
            - message_1
            - message_2
            - message_3
    GetConnectionResponse:
      type: object
      title: List Connections with mediator.
      properties:
        connections:
          description: Connections with mediator.
          type: array
          items:
            type: string
          example:
            - Connection_1
            - Connection_2
            - Connection_3
    SendMessageResponse:
      type: object
      title: send message response.
      example: {}
    DeleteMessageResponse:
      type: object
      title: send message response.
      example: {}
    DeleteResponse:
      type: object
      title: delete response.
      example: {}
    Code:
      type: integer
      format: int32
      title: Code is the error code of command errors.
    GenericErrorBody:
      type: object
      properties:
        code:
          $ref: "#/components/schemas/Code"
        message:
          type: string

---
