version: '3.8'

services:

  ##########################
  # Castor Database
  ##########################
  db_castor:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_DB: castor
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pg_data_castor_db:/var/lib/postgresql/data

  # delay to ensure DB is up before applying migrations
  db_castor_init_delay:
    image: alpine:3
    command: sleep 5
    depends_on:
      db_castor:
        condition: service_started

  ##########################
  # Pollux Database
  ##########################

  db_pollux:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_DB: pollux
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pg_data_pollux_db:/var/lib/postgresql/data

  # delay to ensure DB is up before applying migrations
  db_pollux_init_delay:
    image: alpine:3
    command: sleep 5
    depends_on:
      db_pollux:
        condition: service_started

  ##########################
  # Connect Database
  ##########################

  db_connect:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_DB: connect
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pg_data_connect_db:/var/lib/postgresql/data

  # delay to ensure DB is up before applying migrations
  db_connect_init_delay:
    image: alpine:3
    command: sleep 5
    depends_on:
      db_connect:
        condition: service_started

  ##########################
  # Iris Database
  ##########################

  db_iris:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_DB: iris
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pg_data_iris_db:/var/lib/postgresql/data

  # delay to ensure DB is up before applying migrations
  db_iris_init_delay:
    image: alpine:3
    command: sleep 5
    depends_on:
      db_iris:
        condition: service_started

  ##########################
  # Prism Agent Database
  ##########################

  db_agent:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_DB: agent
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pg_data_agent_db:/var/lib/postgresql/data
    ports:
      - "5435:5432"

  # delay to ensure DB is up before applying migrations
  db_agent_init_delay:
    image: alpine:3
    command: sleep 5
    depends_on:
      db_agent:
        condition: service_started

  ##########################
  # Services
  ##########################
  mediator:
    image: ghcr.io/input-output-hk/mercury-mediator:${MERCURY_MEDIATOR_VERSION}

  iris:
    image: ghcr.io/input-output-hk/iris-service:${IRIS_SERVICE_VERSION}
    environment:
      IRIS_DB_HOST: db_iris
      IRIS_DB_PORT: 5432
      IRIS_DB_NAME: iris
      IRIS_DB_USER: postgres

  prism-agent:
    image: ghcr.io/input-output-hk/prism-agent:${PRISM_AGENT_VERSION}
    environment:
      IRIS_HOST: iris
      IRIS_PORT: 8081
      CASTOR_DB_HOST: db_castor
      CASTOR_DB_PORT: 5432
      CASTOR_DB_NAME: castor
      CASTOR_DB_USER: postgres
      CASTOR_DB_PASSWORD: postgres
      POLLUX_DB_HOST: db_pollux
      POLLUX_DB_PORT: 5432
      POLLUX_DB_NAME: pollux
      POLLUX_DB_USER: postgres
      POLLUX_DB_PASSWORD: postgres
      CONNECT_DB_HOST: db_connect
      CONNECT_DB_PORT: 5432
      CONNECT_DB_NAME: connect
      CONNECT_DB_USER: postgres
      CONNECT_DB_PASSWORD: postgres
      AGENT_DB_HOST: db_agent
      AGENT_DB_PORT: 5432
      AGENT_DB_NAME: agent
      AGENT_DB_USER: postgres
      AGENT_DB_PASSWORD: postgres
      DIDCOMM_SERVICE_URL: http://host.docker.internal:${PORT}/didcomm/

  swagger-ui:
    image: swaggerapi/swagger-ui:v4.14.0
    environment:
      - 'URLS=[
          { name: "Prism Agent", url: "/prism-agent/api/openapi-spec.yaml" },
          { name: "Mediator", url: "/mediator/api/openapi-spec.yaml" }
        ]'

  apisix:
    image: apache/apisix:2.15.0-alpine
    restart: always
    volumes:
      - ./apisix/conf/apisix.yaml:/usr/local/apisix/conf/apisix.yaml:ro
      - ./apisix/conf/config.yaml:/usr/local/apisix/conf/config.yaml:ro
    ports:
      - "${PORT}:9080/tcp"
    depends_on:
      - mediator
      - prism-agent
      - swagger-ui

volumes:
  pg_data_castor_db:
  pg_data_pollux_db:
  pg_data_connect_db:
  pg_data_iris_db:
  pg_data_agent_db:
  pgadmin:
